:root {
  --ifm-color-primary: #3949ab;
  --ifm-color-primary-dark: #303f9f;
  --ifm-color-primary-darker: #283593;
  --ifm-color-primary-darkest: #1a237e;
  --ifm-color-primary-light: #5c6bc0;
  --ifm-color-primary-lighter: #7986cb;
  --ifm-color-primary-lightest: #9fa8da;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #7986cb;
  --ifm-color-primary-dark: #5c6bc0;
  --ifm-color-primary-darker: #3949ab;
  --ifm-color-primary-darkest: #303f9f;
  --ifm-color-primary-light: #9fa8da;
  --ifm-color-primary-lighter: #c5cae9;
  --ifm-color-primary-lightest: #e8eaf6;
}
